pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word}body{font-family:verdana,arial,sans-serif}h1{font-family:"trebuchet ms",arial,sans-serif;font-size:21px}p,li{font-size:12px}  @media print{  }

/* cache key: wiki_gsac:resourceloader:filter:minify-css:7:82bec7a811aae4c623d23835e4e1907f */